[2017-09-10 07:12] onthebreeze opened #10 "Finalise AirBnb profile"
From Airbnb:

I wanted to wait until I had more information on photos/content for experiences as things can change quickly here! The process around photography is changing so this could work really well for you. Trusting that your photos are approved by our internal content team, you'll be able to get up and running without having a photoshoot with us.

Here are the next steps, and once we're thro

[2019-12-12 08:24] #10 closed

[2019-12-12 08:26] onthebreeze opened #12 "Remove maps on contact us page"
https://swanningaround.com/contact-us.html - displays errors for the maps.

We dont really need the maps anyway so please just remove all the pick up points content leaving just the contact us stuff.

[2019-12-12 08:47] webilhan commented on #12
Maps removed

[2019-12-12 08:47] #12 closed

[2019-12-15 01:06] onthebreeze opened #13 "EPIC - New Website"
Swanning Around needs a totally new website that will reflect it's future activities as a world cruising yacht.

the three key personas are

* "Fraser" The adventurous passage maker that wants to experience long ocean passages or races to build sailing experience and sea miles.
* "Mike" The keen sailor that wants to participate in sailing regattas in exotic places.
* "The Strickers" : The family t

[2019-12-15 01:09] onthebreeze opened #14 "Landing Page"
Refs #13

The landing page at swanningaround.com is a simple video montage designed to spark the interest of the user to look further.  Similar in concept to https://www.kingslegend.com/ See simple wireframe below:

![swanningaround-landing](https://user-images.githubusercontent.com/13426392/70856594-ae858300-1f33-11ea-8142-132ab75acb1f.png)

When the user clicks "explore our world" they are taken

[2019-12-15 01:17] onthebreeze opened #15 "Discovery Page"
Refs #13

The discovery page provides the core experience search & discovery capability. The main focus on the page is a google map in satellite mode.

* The map is drawn using the google maps javascript API https://developers.google.com/maps/documentation/javascript/tutorial
* The map data is drawn from the underlying experience page content - all of which have consistent meta-data that can be us

[2019-12-15 01:31] onthebreeze opened #16 "High fidelity design & mockups"
Please create a high fidelity mockup of the new swanning around site as define by the epic #13 and all supporting page wireframes.  The mockup should

* provide designs for both webUI and mobile experience
* be implemented as a clickable experience on invision app - project  https://projects.invisionapp.com/d/main#/projects/prototypes/19077968

[2019-12-15 21:12] onthebreeze opened #17 "Experience Details page"
Refs #13

Clicking on "read more" from the experience summary shown on the navigator takes the user to a page with full details of the specific experience.

* The summary panel is repeated at the top of the page
* A larger unstructured text & images areas describes the specific experience in more detail
* A google map showing just the specific location for the experience is shown.

The user can na

[2019-12-15 23:37] onthebreeze opened #18 "Experience Metadata"
refs #13

Much of the new swanning around site experience is driven by page metadata.  The content author should be able to create a new experience by creating a new page from the correct template, and then providing the structured metadata, and then completing the unstructured text & images for the full experience description.  Once a new experience page is saved, sufficient metadata to draw the

[2019-12-17 09:48] fritzelemino commented on #16
Hi @onthebreeze , please check this:

https://invis.io/HTVAL2AJNV5#/398087365_Swanning-Around

[2019-12-17 23:29] onthebreeze opened #19 "hamburger navigation framework"
We need a number of static pages that describe general information about the boat, the crew, and the program.  Please establish a navigation framework as follows

Hamburger drop down:

* the program
   * cruising
   * regattas
   * ocean passages
   * ocean races
* the yacht
* the crew
* safety
* terms & conditions
* contact us

Note that "the program" is also a content page - as well as the four

[2019-12-17 23:32] onthebreeze opened #20 "Initial content for static pages"
Ben & Jess will prepare a word doc for each static page referenced in #19 and will load it to this ticket - ilya to transcribe into github / cloud cannon for nice & consistent rendering.

The word document will have the same file name as the static page name (eg "safety" or "the program - cruising")

Note to ben & jess - there is also a page for simply "the program" which should describe our 5 yea

[2019-12-17 23:37] onthebreeze opened #21 "initial content for experience pages"
This ticket is a placeholder for the initial content for several experience pages - all will match the templates defined in #17 (noting that meta data is slightly different for each experience type as indicated in #18

Content pages - with correct coordinates & dates & prices - are needed for:

* Sydney-Auckland passage
* Auckland-Gambier passage
* Gambier-Tahiti passage
* Tahiti Pearl regatta
* C

[2019-12-18 01:14] benjaminroulant commented on #21
Hi,

For the journey from Sydney to Tahiti, divided in 4 legs, you'll get a 'summary'doc and a 'read more' doc per leg.

[READ MORE LEG1 : Sydney AUS : Bay of Island NZ copy 2.pdf](https://github.com/gs-gs/swanningaround/files/3976176/READ.MORE.LEG1.Sydney.AUS.Bay.of.Island.NZ.copy.2.pdf)
[SUMMARY LEG1 : Sydney AUS : Bay of Island NZ.pdf](https://github.com/gs-gs/swanningaround/files/3976177/SUMMA

[2019-12-18 01:18] benjaminroulant commented on #21
[READ MORE LEG2 : Bay of Island : Iles Gambier PYF .pdf](https://github.com/gs-gs/swanningaround/files/3976196/READ.MORE.LEG2.Bay.of.Island.Iles.Gambier.PYF.pdf)
[SUMMARY LEG2 : Bay of Island : Iles Gambier PYF .pdf](https://github.com/gs-gs/swanningaround/files/3976197/SUMMARY.LEG2.Bay.of.Island.Iles.Gambier.PYF.pdf)

[2019-12-18 01:23] benjaminroulant commented on #21
[READ MORE LEG3&4 :  Iles Gambier PYF : TAHITI VIA ILES AUSTRAL ISLANDS.pdf](https://github.com/gs-gs/swanningaround/files/3976208/READ.MORE.LEG3.4.Iles.Gambier.PYF.TAHITI.VIA.ILES.AUSTRAL.ISLANDS.pdf)
[SUMMARY LEG3&4 :  Iles Gambier PYF : TAHITI VIA ILES AUSTRAL ISLANDS.pdf](https://github.com/gs-gs/swanningaround/files/3976209/SUMMARY.LEG3.4.Iles.Gambier.PYF.TAHITI.VIA.ILES.AUSTRAL.ISLANDS.pdf)

[2019-12-18 01:25] onthebreeze commented on #21
Good stuff.

Note that google maps API uses simple signed decimal for coordinates - so

* not NSEW qualified deg.min like "33o49.623’S / 151o17.007’E
* but simple signed decimal lat:-33.83, lng:151.28

please use the signed decimal representation or ilya will have trouble tranposing

also - we cannot extract images from pdf so no use sending pdfs like this.  instead, I suggest you create an instag

[2019-12-18 05:13] onthebreeze commented on #21
[EVE - Sydney_Tahiti METADATA Leg 1 to 4.xlsx](https://github.com/gs-gs/swanningaround/files/3976711/EVE.-.Sydney_Tahiti.METADATA.Leg.1.to.4.xlsx)

Here's the structured data for the first few experience pages  - they are all passages.  Next we'll get data for tahiti pearl regatta, tahiti cruising, and marquesas cruising..

[2019-12-18 08:30] onthebreeze commented on #21
and here is metadata for some cruise experiences

[CRUISE METEDATA.xlsx](https://github.com/gs-gs/swanningaround/files/3977379/CRUISE.METEDATA.xlsx)

[2019-12-18 08:30] onthebreeze commented on #21
and here is the metadata for one regatta

[EVE - Regatta METADATA .xlsx](https://github.com/gs-gs/swanningaround/files/3977380/EVE.-.Regatta.METADATA.xlsx)

[2019-12-19 05:30] onthebreeze opened #22 "logo update"
we have some updated logo/branding - see attached svg/png.  I'll try to get the PSD source so we can modify background etc..

Please apply to the mockups and new design.
[SVG.zip](https://github.com/gs-gs/swanningaround/files/3981847/SVG.zip)
[Uploading PNG.zip…]()

[2019-12-21 23:06] onthebreeze commented on #16
Logo, Favicon & Fonts

[LOGO PSD.zip](https://github.com/gs-gs/swanningaround/files/3991910/LOGO.PSD.zip)
[FONT.zip](https://github.com/gs-gs/swanningaround/files/3991911/FONT.zip)
[FAVICON.zip](https://github.com/gs-gs/swanningaround/files/3991912/FAVICON.zip)

[2019-12-23 09:44] onthebreeze commented on #16
Mobile design: https://projects.invisionapp.com/share/GPVB7QQCZNH#/screens/398645987_Swanning-Around-Mobile

Web design: https://projects.invisionapp.com/share/HTVAL2AJNV5#/screens/398087365_Swanning-Around

[2019-12-24 03:01] fritzelemino commented on #16
Hi @onthebreeze @webilhan ,

Please check PSDs here:
https://www.dropbox.com/sh/xz3hxemusdvxhnt/AAB1osHo8PKahRlNn4-x4BaBa?dl=0

Thank you.

[2019-12-25 07:43] onthebreeze commented on #16
Hi fritz.  some feedback

The discovery page should show all ocean passage/race experiences as polylines and all cruise/regatta experiences as polygons with a central pin.  Currently you only show the line when someone clicks on a pin - that is wrong.  A line represents an experience and a pin polygon/pin represents another experience.  You show all lines and pins that match the filter conditions

[2019-12-25 07:45] onthebreeze commented on #16
on the discovery view we should annotate both the lines and the pins with the experience "title" - for example "Sydney to Auckland" might be a title for a passage (ie a line) and "Tahiti Pearl Regatta" might be a title for a pin.

[2019-12-25 07:52] onthebreeze commented on #16
one thing that may be a bit confusing is the scale difference between the ocean race/passage experiences and the cruise/regatta experiences.

* the passages will usually be at least 1000 miles long, sometimes much longer.  so they are shown as a google maps  polyline
* cruises and regattas are confined to a local area, such as around tahiti -  rare to go much more than 50 or 100 miles in a cruise,

[2019-12-25 07:56] onthebreeze commented on #16
also, if you read https://github.com/gs-gs/swanningaround/issues/18 carefully, you'll see that I am suggesting a different coloured polyline for race vs passage and a different coloured polygon & pin for a cruise vs a regatta

[2019-12-28 14:14] fritzelemino commented on #16
Hi @onthebreeze ,

Kindly check if this works:
https://invis.io/7YVE46KV8KB#/398087363_SA-Discovery-Page-Hide-Details

Let me know your thoughts

[2020-01-13 07:47] onthebreeze opened #23 "contact us page"
We need a nice design for the contact us page which has a little form with the following questions / boxes:

* your name
* your email
* your contact phone number (with country code)
* Your message

The "your message" box should be pre-populated with specific experience details if this page is launched from an "enquire" or "book" button from an experience page.  Something like:

" I would like to e

[2020-01-13 19:40] webilhan commented on #23
@onthebreeze If user gets the contact us not from "enquire" or "book" button, should we fill textarea somehow?

[2020-01-14 11:17] fritzelemino commented on #23
@webilhan @onthebreeze ,

Please check Mockup and PSD here:
https://www.dropbox.com/sh/qy9zd4v5mrkksbn/AABXTbC8H8jbm3YedvnXuaLPa?dl=0

[2020-01-15 23:31] benjaminroulant opened #24 "Map explorer doesn't work in Safari"
Hi, I'm using a MacBook Air with safari and when opening this page https://smooth-falcon.cloudvent.net/explore, the map doesn't show, while it shows when using google chrome.

[2020-01-15 23:34] onthebreeze opened #25 "add "Explore" to hamburger"
add an "Explore" item to the hamburger drop drop down below "Home" - which takes the user back the /explore page

[2020-01-16 10:31] webilhan commented on #25
@onthebreeze Explore item has been added.
You can ease manage menu items in cloudcannon, section Data, see - http://prntscr.com/qoh6g3

[2020-01-16 11:05] webilhan commented on #24
@benjaminroulant @onthebreeze Issue in Safar fixed. Please check.

[2020-01-16 11:21] benjaminroulant commented on #24
Nice work it works perfectly

[2020-01-16 11:24] benjaminroulant opened #26 "Static page crew"
Hi, Could you display the crew static page as comes on the attached excel file ?
Thanks
[The Crew.xlsx](https://github.com/gs-gs/swanningaround/files/4070904/The.Crew.xlsx)

[2020-01-16 12:24] #24 closed

[2020-01-16 12:24] #25 closed

[2020-01-16 20:52] onthebreeze commented on #26
I think we need a special design for crew pages - especially if we want to add customers as crew.  That'll take a bit of time so, for now just put name, photo, and personal story as txt - no Q&A table as it won't render well on mobile

[2020-01-16 22:04] webilhan commented on #26
@onthebreeze @benjaminroulant I've added crew as collections, so each member could be edited separately. Applied base layout design, see: https://smooth-falcon.cloudvent.net/crew.html
This could be used as start for design. We also could create crew member detail page with custom design for each member, for now I've disabled this feature.

[2020-01-17 22:13] JessiJess commented on #26
@webilhan thank you! It is perfect.
@onthebreeze, would you please update your section with picture and description?

[2020-01-18 01:31] onthebreeze opened #27 "home page graphic & video"
Lets remove the "watch video" link on the home page and instead just have a static image that lazy-loads to become a video that plays in a loop.

website should not wait for complete video load before allowing user to "explore our world" or select a hamburger option.  It should load only the first frame static image.  But if the user stays on the home page, the video should load and play in the ba

[2020-01-18 02:58] onthebreeze opened #28 "Explore page updates"
Some minor improvements to the explore page:

* for passages and races, remove labels for start/end pins (google will show that anyway when zooming in) and add a label for the line (using the experience title).
* for regattas and cruises, remove labels for the centre location pin (google will show that anyway) and add a label for the area/polygon (using the experience title)
* add some kind of use

[2020-01-18 07:28] webilhan commented on #27
@onthebreeze Updated homepage with new video. Please check.

[2020-01-21 04:52] onthebreeze opened #29 "map is not centred on experience detail view"
after clicking on "read more" on an experience summary in explorer view, the user is taken to the experience detail view.  The map should display correctly showing the experience in the centre of the map.  But is does not.  See screen shots

![experiencedetail-map issue](https://user-images.githubusercontent.com/13426392/72776330-ec2da800-3c65-11ea-882a-c6cd1772234b.png)
![explore-selectexperience

[2020-01-21 04:52] #14 closed

[2020-01-21 04:52] #15 closed

[2020-01-21 04:52] #16 closed

[2020-01-21 04:52] #17 closed

[2020-01-21 04:52] #18 closed

[2020-01-21 04:52] #19 closed

[2020-01-21 04:52] #20 closed

[2020-01-21 04:52] #21 closed

[2020-01-21 04:52] #22 closed

[2020-01-21 04:52] #23 closed

[2020-01-21 04:52] #26 closed

[2020-01-21 04:53] #13 closed

[2020-01-21 04:53] onthebreeze commented on #28
done ok

[2020-01-21 04:53] #28 closed

[2020-01-21 04:53] onthebreeze commented on #27
done ok

[2020-01-21 04:53] #27 closed

[2020-01-21 07:41] onthebreeze opened #30 "Add a calendar view of experiences"
It would be nice to be able to toggle between the map explorer ("where do I want to go?") and a calendar view of the same data ("when do I want to go?").

Suggest that we add an action button next to the filters that says

* "switch to calendar view" when in map view
* "switch to map view" when in calendar view

And we create a calendar view of the same experience data something like this. The use

[2020-01-21 07:43] onthebreeze commented on #30
oh, and dont forget to add a "calendar" item to the hamburger menu for this

[2020-01-21 07:49] onthebreeze opened #31 "user tip is obscured after clicking on an experience"
the screen shots are self-explanatory

![move screen tip](https://user-images.githubusercontent.com/13426392/72785174-b648ed80-3c7e-11ea-94d9-4b84b1defbc7.png)

![move screen tip target](https://user-images.githubusercontent.com/13426392/72785191-c06aec00-3c7e-11ea-84f4-5beb7d115555.png)

[2020-01-21 08:02] onthebreeze opened #32 "Add an "Eve Tracker" page"
Lets try adding a new option to the hamburger menu which is an "Eve Tracker" that embeds the predict wind tracker iframe as per

Please see the Codepen example at http://codepen.io/anon/pen/BoPbXp with a few options of how you can add the iframe.You can use a simple iframe embed, the styled one (no border and specific  sizes), or a responsive one, that will scale up and down for mobile/desktop

Ev

[2020-01-21 08:12] onthebreeze opened #33 "link to general info about experience type - on each experience page"
We have four static pages that describe each experience type

* ocean passages
* Regattas
* Cruising
* Ocean races

We should add a link to the relevant experience type static page on each experience summary panel and detail view.  so if i'm looking at a cruising experience then the link will take me to the cruising static page.  something like this.

![Swanning Around - about experience type](htt

[2020-01-21 11:09] onthebreeze opened #34 "Add google analytics for website activity tracking"
# Tracking ID :  UA-156540282-1

[code]

[2020-01-21 11:10] webilhan commented on #34
It could be managed at **Data->Settings**
![image](https://user-images.githubusercontent.com/1095354/72800149-538c2d80-3c4f-11ea-8453-5f98253cfa66.png)

[2020-01-21 19:49] webilhan commented on #29
@onthebreeze Added fix. Please check if bug still happens

[2020-01-21 19:54] webilhan commented on #31
@onthebreeze Move user tip to the top right corner.

[2020-01-21 20:20] webilhan commented on #32
@onthebreeze Added Eve Tracker page with embedded iframe on DEV site. Please check - https://smooth-falcon.cloudvent.net/eve-tracker

[2020-01-21 21:04] onthebreeze commented on #34
good - it's working fine

[2020-01-21 21:04] #34 closed

[2020-01-21 21:04] onthebreeze commented on #29
good - it's working fine now.

[2020-01-21 21:04] #29 closed

[2020-01-21 21:05] onthebreeze commented on #31
good - fixed

[2020-01-21 21:05] #31 closed

[2020-01-21 21:05] onthebreeze commented on #32
nice - lets merge it to production

[2020-01-21 21:17] onthebreeze opened #35 "multi-lingual site upgrade - in dev"
We need to start developing / testing multi-lingual features.  We will need to manage the complete site content in three languages

* English
* French
* Mandarin

And we should have three little flags (UK, France, China) - maybe next to the hamburger - to allow the user to select language.  Default english.  If there is a way to geolocate the user then we can automatically apply french for users i

[2020-01-21 21:33] webilhan commented on #32
Merged to Production.

[2020-01-22 06:50] onthebreeze opened #36 "contact us updates & fixes"
please see screenshots.

Contact us page

* the map is not needed - nobody will visit the head office and now that we have the eve tracker page we dont need a map here.  just put a nice background photo - for now the same as the home page.
* add a title to the info box "swanning around head office"
* add tip to user to include country code in phone number

Thanks for your message page

* the butto

[2020-01-22 07:02] onthebreeze commented on #30
Ive just realised that there could be situations where some experiences overlap in time.  for example

* 01 may till 01 Sept in Tahiti & surrounds.
* 01 july till 01 aug in marquesas.

in other words - we are spending a heap of time in tahiti but in the middle we do a one month excursion to marquesas

we should probably show that as overlapping boxes?

[2020-01-22 09:24] fritzelemino commented on #30
Hi @onthebreeze ,

Please check this one:
https://invis.io/TVVNHUS7HJ5#/401727241_Calendar-View

I don't think we need to introduce overlapping boxes as long as the starting dates are in order should be understandable already.

Let me know your thoughts

Regards,

[2020-01-22 09:29] fritzelemino commented on #30
@onthebreeze ,

I'm not sure we need to put the calendar view in the main menu.

If we are to put it where do you want to see it? Should this be under the program?
[![Screenshot from Gyazo](https://gyazo.com/9a0e0f3d657510c9f094aa6bd8d9aa0f/raw)](https://gyazo.com/9a0e0f3d657510c9f094aa6bd8d9aa0f)

[2020-01-22 11:14] onthebreeze commented on #30
nice concept.  Issues are

* the calendar view is just an alternative representation of the map view so it will show all experience types. So, for the hamburger lets just leave "Explore" as the option (which is current state) and let the user pick map/calendar as you show.
* Because the calendar view shows all experience types, we need a way to distinguish between "Passage", "Race", "Regatta", and

[2020-01-22 12:35] onthebreeze commented on #32
nice - all good.

[2020-01-22 12:35] #32 closed

[2020-01-22 17:53] fritzelemino commented on #30
Hi @onthebreeze ,

I updated invision app, kindly check this one:
https://invis.io/TVVNHUS7HJ5#/401727241_Calendar-View

For date slider, does this mean we won't allow users to pick specific dates? They can only select months with year?

Let me know your thoughts

[2020-01-22 18:31] fritzelemino commented on #33
Hi @onthebreeze and @webilhan ,

Here's how I suggest we do it, please check:
https://invis.io/GWVNWMI3TP9#/398785563_Passage-Details
https://invis.io/SWVNWN9HBUV#/398087364_SA-Discovery-Page

When they hover this text, there should be an underline to it so people know this is clickable.

Also, I notice on Experience details page, most of the experiences have multiple pricing. On the live site, it

[2020-01-22 19:12] onthebreeze commented on #30
Hi fritz,

Yes that is getting better, thank you.

Regarding date slider, I dont see much value in picking particular days because most experiences are weeks or months.  so a quick way to select from/to period as month/year would be good.  your thoughts welcome.

[2020-01-22 19:30] webilhan commented on #33
@fritzelemino I think it is not obvious that "Ocean Passage" above the title is link, maybe we should highlight is somehow?

[2020-01-23 11:02] onthebreeze opened #37 "Sex up the static pages - they are a bit boring"
take a look at : https://swanningaround.com/regattas.html

it's a boring layout.  Each static page will always have

* a main heading and one level of sub-heading (but multiple H2 subheadings)
* multiple photos
* one video
* a number of attached docs (eg pdfs)
* various bits of text with bulleted/numbered lists.

what can we do to sex up this static page layout?

[2020-01-23 11:04] onthebreeze commented on #37
except crew page - which is a bit special. We will also add some free text and some attachments (pdf) of things like professional certifcates to each crew profile.

[2020-01-23 11:19] onthebreeze commented on #33
the main purpose of this ticket is to add that link to the relevant experience type static page (eg to something like [About regatta experiences](https://swanningaround.com/regattas.html) on every regatta experience page

how we organise pricing is a different question.  Problem is we cant pick one of the prices for the slpach image because there's a big difference between the per person price and

[2020-01-23 11:26] onthebreeze commented on #30
lets just implement the calendar view as start-date ordered list of panels (earliest date at the top) - and we show as many panels as match the filter criteria.

so just load the PSD

[2020-01-23 13:34] fritzelemino commented on #30
Hi @webilhan ,

Please check PSD here: https://www.dropbox.com/s/bxsuglz1c2m8zgj/Calendar-view-v2.psd?dl=0

Thank you.

[2020-01-23 18:21] webilhan commented on #33
@onthebreeze Added links to explore and experience detail page.

[2020-01-23 21:54] webilhan commented on #36
Done. Deployed to Test site for testing - https://smooth-falcon.cloudvent.net/contact-us.html
@onthebreeze Please check

[2020-01-24 03:16] onthebreeze commented on #33
ok good stuff

[2020-01-24 03:16] #33 closed

[2020-01-24 03:18] onthebreeze commented on #36
looks fine - please deploy to prod

[2020-01-24 07:41] webilhan commented on #36
Deployed to Prod.

[2020-01-24 17:27] fritzelemino commented on #37
Hi @onthebreeze ,

Kindly check this one: https://invis.io/KMVP85JA35P

I recommend we create a mock up for all of these subpages and give it to ilya to give him guidance. As right now, these are too generic, we can spice this up to match other pages.

Thank you

[2020-01-24 21:27] onthebreeze commented on #37
Yes that is good.  I think we can use that same template for each of the four experience type pages.  The only thing we need to add is a place to highlight the legal terms and conditions for the experience type.  I will add that to the current boring pages this morning

Please release psd for Ilya

I’ll update the other static pages with more content and then you can take a look and redesign

[2020-01-25 05:24] onthebreeze opened #38 "urgent contact us bug"
validation is toot restrictive on the name field - it wont allow spaces.

should probably allow all printable characters.

see screenshots

![Contact Us - Swanning Around - space error](https://user-images.githubusercontent.com/13426392/73116708-f36af380-3f8e-11ea-9d0e-caecc43e1165.png)
![Contact Us - Swanning Around - no space](https://user-images.githubusercontent.com/13426392/73116709-f4038a00-

[2020-01-25 17:39] webilhan commented on #38
Fixed

[2020-01-26 02:24] onthebreeze commented on #36
ok good - tested ok

[2020-01-26 02:24] #36 closed

[2020-01-26 02:24] onthebreeze commented on #38
checked ok

[2020-01-26 02:24] #38 closed

[2020-01-26 21:44] webilhan commented on #30
Deployed to Prod

[2020-01-26 22:16] onthebreeze commented on #30
Test ok - thanks

[2020-01-26 22:16] #30 closed

[2020-01-27 00:00] onthebreeze opened #39 "Refactor hamburger to remove "program" and elevate sub-pages"
Feedback from early users is that it is too hard to find the sub-pages under "The Program".  Also the current content on the program page is fairly light and really just provides a link to the lower level pages anyway.

so - lets

* elevate the four sub-menu items to top level menu items and position them just below the "Explore" item.
* get rid of "The program" menu item and the related page.

[2020-01-27 00:22] onthebreeze opened #40 "Image library optimisation"
The image library is already a bit chaotic. Images are sprinkled all over the place so it's hard to know which image is used where.  some images are too small and other are way too big - the biggest one is 100 times the smallest one.   see image below.

<img width="1680" alt="UploadsLibraryChaos" src="https://user-images.githubusercontent.com/13426392/73144065-80c85800-40f5-11ea-894d-63e3584c5c62.

[2020-01-27 05:52] fritzelemino commented on #37
Kindly check the PSD here:

@webilhan https://www.dropbox.com/s/pc8axjbn5hh314u/the-programs-Regattas.psd?dl=0

[2020-01-27 09:36] webilhan commented on #39
Done

[2020-01-28 20:59] webilhan commented on #40
Image reorganization has been done.

For now, we have the following structure:
For all static pages like (About the Yacht, Ocean Races, Cruising....) images will be loaded in
`uploads/static-pages/{page-title}`
Image will be resize to cover the size 1920x1020, width 1920px and height less 1020px or height 1020px and width less then 1920px

For experiences, we have the following structure:
**Experi

[2020-01-30 12:45] fritzelemino commented on #37
@onthebreeze ,

Let me know when we are ready to take a look at the subpages again

**I’ll update the other static pages with more content and then you can take a look and redesign**

Thank you

[2020-01-30 21:20] onthebreeze commented on #40
ok tested and seems fine.  thank you.  closing the issue

[2020-01-30 21:20] #40 closed

[2020-01-30 21:21] onthebreeze commented on #39
tested ok

[2020-01-30 21:21] #39 closed

[2020-02-08 05:07] onthebreeze opened #41 "Add "stay informed" link - via mailchimp sign-up form"
Add an email list sign-up link to the top left of all pages (next to the facebook & instagram links.  clicking on an email icon will open the mailchimp subscription form using the signup link below

Signup link:

[code]

![newsletter link - Swanning Around](https://user-images.githubusercontent.com/13426392/74079565-3d72cf80-4a8d-11ea-940e-e6e59cf02a5e.png)

Also - lets investigate feasibility of

[2020-02-17 10:42] onthebreeze commented on #41
<img width="1680" alt="Screen Shot 2020-02-17 at 9 41 07 pm" src="https://user-images.githubusercontent.com/13426392/74646612-4fabe680-51ce-11ea-9067-bc52f30c6a04.png">

[2020-02-17 11:29] onthebreeze commented on #37
good to go - please deploy to production.

[2020-02-17 11:48] onthebreeze opened #42 "tracking bookings and availability"
We need to update the experience meta-data in order to manage capacity and bookings.  This is so that we can show which opportunities are booked and what is still available.

For passages, races, and regattas, we are selling per person.  So we need to add:

[code]

in this example, we can see that there are 5 spaces and that two are taken, so there are three left. to anonymous users we only show t

[2020-02-17 12:19] onthebreeze commented on #42
put detailed booked / available information (including specific dates for cruises) on the details page like this one https://swanningaround.com/cruises/iconic-tahiti.html

Put summary availability info on the calendar panels - something like this

![calendar panel availability](https://user-images.githubusercontent.com/13426392/74653088-95bb7700-51db-11ea-88ec-334f047e0dfa.png)

the same summary d

[2020-02-17 14:01] fritzelemino commented on #42
Hi @onthebreeze @webilhan,

Please check these screens:
https://invis.io/7HW0SFRSAPE

The calendar dropdown is both the normal view and the selected view.

Let me know your thoughts.

Thank you

[2020-02-17 21:16] webilhan commented on #41
@onthebreeze Do you think we need to create separate cookies for users who just close the popup and for users who subscribed?

[2020-02-17 21:27] webilhan commented on #37
Deployed to production

[2020-02-17 21:39] onthebreeze commented on #41
yes that would probably make sense.

* closed => dont pop-up again for 24 hours
* subscribed => dont pop up again

maybe we should also put an "iv'e already subscribed" button - for those that subscribed on on their phone and now look at the site again on their browser.  cookie action is the same as subscribed => dont pop up again..

[2020-02-17 21:41] onthebreeze commented on #42
looks good fritz

but we also need a design for the experience detail page - such as https://swanningaround.com/cruises/iconic-tahiti.html

[2020-02-17 21:45] onthebreeze commented on #37
tested all good - closing this ticket

[2020-02-17 21:45] #37 closed

[2020-02-18 01:21] fritzelemino commented on #42
Hi @onthebreeze ,

We have that here: https://invis.io/W5W147RDQBU

Please check

[2020-02-18 01:36] onthebreeze commented on #42
yes ok - but that works for passages where we sell per person

We also need to show booked and available dates for cruise experience types

[2020-02-18 03:14] fritzelemino commented on #42
Hi @onthebreeze ,

What do you think about putting a calendar view on the page?

https://invis.io/TDW14TRR647

Let em know what you think.

[2020-02-18 21:05] webilhan commented on #41
Add subscribed form popup. Please check on DEV how it looks and if subscription works correctly because I don't have access to MailChimp.
https://smooth-falcon.cloudvent.net/
For now, it shows popup after 30seconds.
Here is available settings: http://prntscr.com/r49wg0

[2020-02-19 03:12] fritzelemino commented on #42
Hi @onthebreeze and @webilhan,

Please check this one:
https://invis.io/C2W1VPNNSQX

Let me know your thoughts

[2020-02-19 22:32] JessiJess opened #43 "Home page"
Hi, I have uploaded the video on the home page that was provided by Camille as the quality and colours were definitely better. The last bit that we need to do is to move the logo up and the wording down. Please ref to the attached image (also from Cam).
![image_d___ios_720](https://user-images.githubusercontent.com/59960460/74882829-e8f01e00-53c3-11ea-9e78-851c55c5e68e.jpg)

[2020-02-19 22:44] JessiJess opened #44 "Static Page - 'About the cruising'"
Hi @fritzelemino , hope this message finds you well. I am currently reviewing the static pages that were recently re-designed, and I would like to ask you if you could modify slightly the design of 'about cruising' page to have something more consistent with the other static pages. I have made a drawing to give you the idea. Please let me know if this is something that you can do.
![86721938_19429

[2020-02-20 20:27] onthebreeze commented on #41
probably separate cookies is a good idea yes.  because then we can always timeout the ones that just close the window.

[2020-02-20 20:28] onthebreeze commented on #41
It's good - lets release it to prod.

[2020-02-20 20:28] #41 closed

[2020-02-20 20:29] onthebreeze commented on #41
although maybe it would be nicer if the little email subscription link top right had the same look and feel as the pop-up.  So when user clicks they get the same popup and not the context switch to the mailchimp registration page..

[2020-02-20 20:51] JessiJess commented on #42
Hi @fritzelemino,

With regards to the availability in the cruising section, the calendar view (similar to airbnb) is more user friendly, more visual and simple. Can you integrate something like that:
![image (1)](https://user-images.githubusercontent.com/59960460/74977548-02a26b80-547f-11ea-8810-216bbfa7610e.png)

[2020-02-21 05:05] fritzelemino commented on #44
Hi @JessiJess ,

Just wanted to confirm this is the page you want me to redesign? https://swanningaround.com/cruising.html

I reviewed the page but it seems similar to other pages. Let me know which section should I be changing

Thank you

[2020-02-21 05:42] fritzelemino commented on #42
Hi @JessiJess

Kindly check this one and let me know your thoughts:
https://invis.io/TDW14TRR647

Regards,

[2020-02-24 13:58] webilhan commented on #43
@JessiJess Updated layout. Please check

[2020-02-24 19:47] JessiJess commented on #43
@webilhan perfect thanks.

[2020-02-24 19:52] JessiJess commented on #42
Hi @fritzelemino , yes I am happy with this display.
Thanks,

[2020-02-24 20:02] JessiJess commented on #44
Hi @fritzelemino ,

Yes this is the page. If you refer to the above drawing (separated in 4 parts), you will see that the layout is a little bit different that what we currently have on the website.

In the second part of the drawing, the picture of inside the boat is after the wording while I would rather have it next to it with the possibility to have maybe more than one. Then, on the drawing, I

[2020-02-25 06:40] #43 closed

[2020-02-27 06:01] fritzelemino commented on #44
Yes working on this already @JessiJess

[2020-04-18 01:41] JessiJess commented on #44
Hi @fritzelemino , hope everything is well with you. Can I have an update on this issue? I will be opening several issues the next week in order to finalise the website. Thanks.

[2020-04-18 01:45] JessiJess commented on #42
Hi @fritzelemino , I supposed that this issue has been resolved now?

[2020-04-18 01:49] JessiJess commented on #35
Hi @onthebreeze, following discussion with Ben, we will translate in French and wait a little bit more for Mandarin to see really if this is needed as per google analytic data it is not a language that should be prioritised. I will clean the website content over the next weeks first and then will let you know when we can start working on this issue. Should we put this issue on pause for now?

[2020-04-18 03:25] onthebreeze commented on #35
As soon as you have more than one language then the site needs multilingual framework.  So still need this ticket

Start with French for sure.  But google won’t be a good guide to China interest because the site is in English.  It’s only after we do mandarin version that we’d start to get hits when chines search engines start indexing it

[2020-04-18 04:44] onthebreeze commented on #42
a simple system has been implemented, yes. Do you see how to manage calendar in cloud canon?

[2020-04-18 04:44] #42 closed

[2020-04-18 09:33] fritzelemino commented on #44
Hi @JessiJess ,

Kindly check this one of this works:
https://www.dropbox.com/s/suig5u14w04hcp6/the-programs-cruising-experience.jpg?dl=0

[2020-04-18 22:09] JessiJess commented on #44
Hi @fritzelemino ,

Yes it is definitely better. Just one comment, instead of the button 'learn more' can we have it changed to 'More about the Yacht'? or it is something that I could modify once this version is implemented?

[2020-04-19 05:50] fritzelemino commented on #44
Hi @JessiJess ,

Kindly check this one:
https://invis.io/DEWXF522UGY

[2020-04-20 03:19] JessiJess commented on #44
Hi @fritzelemino , can you please resend the link, it says that the project has been archived.

[2020-04-20 04:10] JessiJess opened #45 "Tabs to be reorganised"
Hi @webilhan , I will need your support in reorganising the tab in our website in the left side. Below is currently what we have:

![image](https://user-images.githubusercontent.com/59960460/79712751-10555f80-830f-11ea-9e0e-123c28c17cb2.png)

And below is I would like them to be reorganised:

- HOME
- EXPLORE
- YOUR EXPERIENCES
         => Cruising

         => Passages
         => Races & Regatta

[2020-04-20 04:12] JessiJess commented on #45
Just to note that the content of 'Watersport charters' page is being currently finalised and should be available within the next couple of days.

[2020-04-20 05:16] fritzelemino commented on #44
Hi @JessiJess ,

Steve might have archive the project to  make room for a new one.

Please check dropbox link here:
https://www.dropbox.com/s/suig5u14w04hcp6/the-programs-cruising-experience.jpg?dl=0

[2020-04-21 03:08] JessiJess commented on #44
Thanks @fritzelemino ,

Would you please make a final update so I can upload more than one picture and I have also the option to add a video (if available) in the first and second part of this page where the below arrows are:

<img width="485" alt="Cruising page screenshot" src="https://user-images.githubusercontent.com/59960460/79820481-a94baf80-83cf-11ea-99bb-fdce2fca1214.png">

Maybe to look li

[2020-04-21 03:47] JessiJess opened #46 "Linked Facebook & TripAdvisor review to the website"
Hi,

I would like to have future clients visiting the website to be able to see our reviews. If you look at the following website (www.pilgrimsailing.com.au), you have the reviews from Facebook and TripAdvisor that scrolled right to left and you can click on each review and it brings you to the actual Facebook and TripAdvisor pages where the review is.

Can we have a similar activity in each stati

[2020-04-21 04:56] onthebreeze commented on #46
@webilhan - do you need a design for this from @fritzelemino - or can you juts have a got for @JessiJess review?

[2020-04-21 06:40] webilhan commented on #46
@onthebreeze @JessiJess I can add a section where you can add these reviews and show them on frontend. Should reviews be the same on all static pages?

[2020-04-21 06:42] webilhan commented on #45
@JessiJess "YOUR EXPERIENCES" will be a collapsible menu, so by clicking on it, submenu will be toggle?

[2020-04-21 22:49] JessiJess commented on #45
@webilhan , yes I do not want to create a static page 'experiences' just as you said when you click on it  or just actually pass with the mouse, all the other static pages are visible.
To clarify further:
- Watersport page will be a submenu of cruising however we should be able to click on cruising and see the content and also watersport and see the content.
- Races and Regattas will merge and bec

[2020-04-21 22:59] JessiJess commented on #46
@webilhan,
What do you mean by adding the review, so this will not be automatic? I rather have something that automatically add the reviews on the website to avoid to add each new review. If those reviews can be added that way then yes it will be the same on Cruising, passage and races&regattas as unfortunately the reviews posted on FB or TripAdvisor does not have a way to classify them.

@onthebr

[2020-04-22 03:55] JessiJess opened #47 "Gallery creation"
Hi, I would like to add a gallery to the website. A similar to the one that we have on this website: https://www.clipperroundtheworld.com/news/gallery.

As you will see on the link above, the gallery is classified in folder and once the mouse is on the folder (without clicking on it) it reveals the theme and date. Then, you click on it and you have all the pictures related to the folder. See scree

[2020-04-22 04:20] JessiJess commented on #47
Hi @fritzelemino can you review the above request and come up with some design ideas similar to the one suggested above?

[2020-04-22 07:27] webilhan commented on #46
@JessiJess @onthebreeze They use https://repuso.com/ service. We can try to use API FB and TripAdvisor, but that's needs to be investigated.
With automatic way, there is a question: what if somebody posted review which you don't want to show on the site?

[2020-04-23 01:09] JessiJess commented on #46
@webilhan , is there an option maybe where you can select the reviews to add on the website without me having to copy/past the whole thing?

[2020-04-23 02:57] JessiJess opened #48 "Coronavirus update page"
Hi @webilhan , I am currently drafting a quick content to update our customers on how the whole trip has been impacted by COVID and what next. For that I will need you to add on the Home page (where the video is), right between 'GLOBAL SAILING ADVENTURES' AND 'EXPLORE OUR WORLD' , the following: 'Coronavirus (COVID-19) update'. Same design as 'Explore our world'. When the customer will click on it

[2020-04-23 03:17] JessiJess opened #49 "Tab Design Correction (Font - Police - Background)"
Hi @webilhan , Can you please update the homepage from the following:

<img width="1074" alt="Homepage - Current" src="https://user-images.githubusercontent.com/59960460/80054477-b8169b80-8562-11ea-93bb-aedec0ee828b.png">

To:

![3_ SwanningAround - Website - Corrections Homepage Menu 01](https://user-images.githubusercontent.com/59960460/80054294-2c047400-8562-11ea-86da-cdf04b98a1dd.jpg)

Of cour

[2020-04-26 11:36] fritzelemino commented on #47
Hi @JessiJess ,

Please check these:
https://www.dropbox.com/sh/dklfk6woex4rk5i/AABD1CVdS3ka1tLEurlF-PxIa?dl=0

[2020-04-26 16:23] webilhan commented on #46
@JessiJess Do you mean option on repuso.com service or in admin?
1. If you mean in service, I don't know, never worked with it.
2. In admin we don't have such option and I don't think that this is reasonable to create it, because it will take a lot of time.

[2020-04-26 19:39] webilhan commented on #45
@JessiJess @onthebreeze Menu reorganised and deployed on DEV site. https://smooth-falcon.cloudvent.net/about-the-yacht.html
@JessiJess Please note that you can easily manage menu items from admin, see:
1. http://prntscr.com/s6c02y
2. http://prntscr.com/s6c0d7

[2020-04-26 19:41] webilhan commented on #49
@JessiJess @onthebreeze Updated main menu for homepage and updated fonts.
Please check on DEV site: https://smooth-falcon.cloudvent.net/

[2020-04-26 19:44] webilhan commented on #48
@JessiJess @onthebreeze I've added button and popup on the homepage. Please check on DEV site: https://smooth-falcon.cloudvent.net/
Content and visibility could be managed at the admin panel:
1. http://prntscr.com/s6c02y
2. http://prntscr.com/s6c23i
3. http://prntscr.com/s6c2wm

[2020-04-27 01:41] JessiJess commented on #47
Hi @fritzelemino , on the above screenshot, as you can see each folder have one picture with a file name so I would like something similar to classify our different adventure and location i.e. instead of 'Race 7: (...) 5 Mars 2020, it will be Passage Sydney to Bay of Island [Date] and when you click another sub gallery opens with all the related pictures. Is it what you proposed as I cannot really

[2020-04-27 02:26] JessiJess commented on #45
@webilhan, thanks! Just one comment, is it possible for the 'Watersport Charters' tab to be a sub tab of cruising instead of being a sub tab of 'our experiences' ? If I can do it myself from admin all good, i will modify it after online.

[2020-04-27 02:29] JessiJess commented on #49
@webilhan , very nice thanks! Can we have the updated main menu design not only from homepage but also from any other pages - keeping the same design everywhere on the website?

[2020-04-27 02:31] JessiJess commented on #48
@webilhan , perfect! Please deploy and will add the content at the admin panel.

[2020-04-27 02:39] JessiJess commented on #46
@webilhan , no worries, let's try to keep it simple then. I guess the best/easiest option here is for me to add those reviews into the website. Will the customer be able to click on the review and it will take him to Facebook or TripAdvisor? The best option will be to have the reviews pertaining to cruising on the cruising page, passage reviews on the passage page and so on. I will be managing tha

[2020-04-27 03:20] fritzelemino commented on #47
Hi @JessiJess ,

Kindly check the updated version here:
https://www.dropbox.com/sh/dklfk6woex4rk5i/AABD1CVdS3ka1tLEurlF-PxIa?dl=0

[2020-04-27 03:42] JessiJess opened #51 "Static Page redesign - 'About the yacht'"
Hi @fritzelemino ,

I would like to redesign the static page 'about the yacht' https://swanningaround.com/about-the-yacht.html and have it similar to this: https://www.clipperroundtheworld.com/race/fleet

I have made a quick draft below on how it will look like for our website:
![About the yacht - draft](https://user-images.githubusercontent.com/59960460/80331115-86ffd900-888a-11ea-9019-86a6394198

[2020-04-27 03:44] JessiJess commented on #47
@fritzelemino  happy with this, thanks.

[2020-04-27 03:53] JessiJess opened #52 "Contact us Today"
Hi @webilhan , can you please update the contact page to have it looks like that:
![5_ SwanningAround - Website - correction contact page](https://user-images.githubusercontent.com/59960460/80332302-d1cf2000-888d-11ea-92c8-af7d7957d425.jpg)

I guess you have the picture that had a better quality too however if not I will do it when this version is online.

The font & police will need to be updated

[2020-04-28 08:07] fritzelemino commented on #51
Hi @JessiJess ,

Kindly check this one: https://www.dropbox.com/s/7uhwz2d0ib5j16r/About-Yatch.jpg?dl=0

Do you want to use the whole width?

[2020-04-28 10:15] fritzelemino commented on #44
Hi @JessiJess ,

I think it's better if we make them slider, what do you think? please check

https://www.dropbox.com/s/suig5u14w04hcp6/the-programs-cruising-experience.jpg?dl=0

[2020-04-29 02:07] JessiJess commented on #51
Hi @fritzelemino , not the whole width, I will say half the size for the information and the other half for pictures. So if we take the example of the website mentioned above when you expand 'interior', we will have some info on our right and below the tile 'interior' I would have the option to add few pictures.
<img width="1071" alt="About the Yacht - sample" src="https://user-images.githubuserco

[2020-04-29 03:10] JessiJess commented on #44
Hi @fritzelemino , yes it is indeed better.

I have a couple of more comments before giving that to iLya.

1) For the first part, do you think it will be possible to have a picture or video fitting the whole size of the screen instead of half? More something similar to this: https://www.clipperroundtheworld.com/about/about-the-race

2) About the the buttons 'Contact us today' and  'more about the

[2020-04-29 03:11] JessiJess commented on #47
@fritzelemino , just checking, should I contact Ilya to implement your last version of the proposed gallery or is it something that you do?

[2020-04-29 03:37] fritzelemino commented on #47
Hi @JessiJess ,

I only do design Ilya do all the implementation.

Thank you

[2020-04-29 06:05] JessiJess commented on #47
Hi @webilhan, can you please implement the attached gallery to the website: https://www.dropbox.com/sh/dklfk6woex4rk5i/AABD1CVdS3ka1tLEurlF-PxIa?dl=0

[2020-05-04 02:41] fritzelemino commented on #51
Hi @JessiJess ,

Kindly check this:https://www.dropbox.com/s/7uhwz2d0ib5j16r/About-Yatch.jpg?dl=0

Few things:
+ The current font **Alliance no. 1** only has a light version. This was the font used by the other designer and Steve also instructed me to use this. But this font doesn't fit very well with light Background, It's unreadable. Should we change this? I used roboto bold on the above mock up

[2020-05-04 03:44] fritzelemino commented on #44
Hi @JessiJess ,

Kindly check this one:
https://www.dropbox.com/s/suig5u14w04hcp6/the-programs-cruising-experience.jpg?dl=0

[2020-05-04 04:01] JessiJess commented on #51
Hi @fritzelemino ,
Looks way better! We can remove the 'contact us today' just below the main title.

- About the font, see attached what has been proposed by the designer last year and let me know if you think this font will be more appropriate.
[FONT-20200504T034921Z-001.zip](https://github.com/gs-gs/swanningaround/files/4572723/FONT-20200504T034921Z-001.zip)

- Please see attached the original

[2020-05-04 04:43] JessiJess commented on #44
Hi @fritzelemino ,

Thank you for the modification.

Few comments:

1) For the first part, can we have a picture or video fitting the whole size of the screen, same as what you have done for 'about the yacht'. Therefore, I guess we will only have the title + contact us today there and I will add the text to the second part. See attached a picture that can be ideal as full screen:
![IMG_5580](https

[2020-05-04 20:54] webilhan commented on #45
@JessiJess Deployed to Live site. **Watersport Charters** tab was added as a sub tab. Please note that for now it is an empty page, so would be good to fill it with content.

[2020-05-04 20:56] webilhan commented on #48
@JessiJess Deployed. To show it please add content and select checkbox **Enabled**

[2020-05-04 20:57] webilhan commented on #49
@JessiJess Updated main menu design for all pages. Deployed on Live site.

[2020-05-04 21:05] webilhan commented on #47
@JessiJess Do we really need filter "Show all" and "Search"? See what I mean on this screen - http://prntscr.com/saxa61

[2020-05-04 21:13] webilhan commented on #52
@JessiJess Do you have original source file (PSD or any other where the design was created). For me would be much easier to detect fonts/colors/sizes, if I get source file instead JPG.

[2020-05-04 21:42] webilhan commented on #52
@JessiJess I've deployed draft version on test site, please check - https://smooth-falcon.cloudvent.net/contact-us.html Fonts could be not fully right. Let me know you need to change  it?

[2020-05-04 23:51] JessiJess commented on #48
Thanks @webilhan . Content added.

[2020-05-04 23:51] #48 closed

[2020-05-04 23:53] JessiJess commented on #52
Hi @webilhan , perfect! Please deploy. With regards to the PSD, I have asked the designer to provide and shall forward it to you once available.

[2020-05-05 00:02] JessiJess commented on #45
Hi @webilhan ,

Thank you for deploying the tab. I have added now the content to Watersport Charters. For some reason, I have not the option to delete some unnecessary content and space, please see screenshot below:

![Watersport charter](https://user-images.githubusercontent.com/59960460/81024585-2dfdf980-8eb7-11ea-8c21-9190541d8aaa.jpg)

Also, I would like to let you know that we are reviewing t

[2020-05-05 01:45] JessiJess commented on #47
Hiv @webilhan , no indeed not necessary.

[2020-05-05 01:54] JessiJess commented on #49
Hi @webilhan , thank you for updating the main menu design. Can you confirm that you will also apply the same font/size to the entire website based on the zip folder that I have shared with you?

[FONT-20200504T034921Z-001.zip](https://github.com/gs-gs/swanningaround/files/4578603/FONT-20200504T034921Z-001.zip)

[2020-05-05 02:14] JessiJess opened #53 "Favicon correction"
Hi @webilhan ,

The current Favicon on the website is incorrect.
<img width="1128" alt="Favicon" src="https://user-images.githubusercontent.com/59960460/81029792-a66db600-8ec9-11ea-8591-b25cca9c1a55.png">

Please kindly update based on below zip folder.
[FAVICON.zip](https://github.com/gs-gs/swanningaround/files/4578642/FAVICON.zip)

Many thanks

[2020-05-06 02:24] fritzelemino commented on #44
Hi @JessiJess ,

Kindly check this one:
https://www.dropbox.com/s/suig5u14w04hcp6/the-programs-cruising-experience.jpg?dl=0

[2020-05-06 02:25] fritzelemino commented on #51
Hi @JessiJess ,

Kindly check this one:
https://www.dropbox.com/s/7uhwz2d0ib5j16r/About-Yatch.jpg?dl=0

[2020-05-06 05:31] JessiJess commented on #51
Hi @fritzelemino , Perfect! Can you just change the font and size to the title 'Our history' / Interior / Exterior / Specification to match our main menu and a font size colour dark blue?

![3_ SwanningAround - Website - Corrections Homepage Menu 01](https://user-images.githubusercontent.com/59960460/81139912-db056e80-8faa-11ea-9f39-e6f1fa7e449f.jpg)

![Button design - White ](https://user-images.

[2020-05-06 06:16] JessiJess commented on #44
Hi @fritzelemino ,

Thanks a lot! The picture seems a little bit darker than the original. Any chance to get the boat part clearer? If this is not possible, I would then rather keep the picture that we currently have. Let me know your thoughts

![airlietrip-whitehaven3b-96](https://user-images.githubusercontent.com/59960460/81141926-700b6600-8fb1-11ea-810e-ae6edd74c823.jpg)

Can we have the title

[2020-05-10 16:16] fritzelemino commented on #44
Hi @JessiJess , kindly check this:
https://www.dropbox.com/s/suig5u14w04hcp6/the-programs-cruising-experience.jpg?dl=0

The images should scroll automatically. We can also put arrows if you want people to control it.

[2020-05-10 16:28] fritzelemino commented on #51
Hi @JessiJess ,

Kindly check these:
https://www.dropbox.com/s/7uhwz2d0ib5j16r/About-Yatch.jpg?dl=0

Let m

[2020-05-10 23:19] JessiJess commented on #44
Hi @fritzelemino , Happy with the automatic scrolling.

We are getting there. Final update and ready to deploy. I remember that you have asked me the question already if I would like to have the content to fit the width and actually I would like to change my mind and say yes.

![InkedCuising design page_LI](https://user-images.githubusercontent.com/59960460/81512837-16b38600-9367-11ea-9f0f-b512528

[2020-05-10 23:20] JessiJess commented on #49
Hi @webilhan , can you please just confirm and I will close this issue. Thanks

[2020-05-10 23:21] JessiJess commented on #45
Hi @webilhan , do you have an update on the issue mentioned above?

[2020-05-10 23:27] JessiJess commented on #47
Hi @webilhan , do you have any update on the gallery creation?

[2020-05-10 23:35] JessiJess commented on #51
Hi @fritzelemino , it looks like the titles' colour are still black? Is it possible to change the colour to dark blue as below. Is it the same font as below that you use?
![Button design - White ](https://user-images.githubusercontent.com/59960460/81513236-3c8e5a00-936a-11ea-8233-9f49a5dd9b4a.jpg)

Also, the modification that I have mentioned in issue #44 will be applicable to this page too (fit t

[2020-05-10 23:35] JessiJess commented on #53
Hi @webilhan , any update on the above issue?

[2020-05-10 23:39] JessiJess commented on #52
Hi @webilhan , can you please have an update on the above issue?

[2020-05-11 03:25] fritzelemino commented on #44
Hi @JessiJess ,

Please check this:https://www.dropbox.com/s/suig5u14w04hcp6/the-programs-cruising-experience.jpg?dl=0

I recommend that the packages stay as is. Doesn't look good when covering the entire width

[2020-05-11 03:27] fritzelemino commented on #51
@JessiJess ,

Kindly check this:
https://www.dropbox.com/s/7uhwz2d0ib5j16r/About-Yatch.jpg?dl=0

The current font is already the one you have above. The current font is also the one you sent me  Proto Grotesk. This is better fit than the one on the button right now.

[2020-05-11 06:51] JessiJess commented on #51
@fritzelemino , perfect.

@webilhan , can you please deploy the above updated design on 'About the Yacht' page? Also, please ensure that we can the pictures that will be added onto different part (History, interior and exterior) scroll automatically. Thanks

[2020-05-11 07:00] JessiJess commented on #44
Hi @fritzelemino , can the pictures added onto the second part are not physically touching with the picture added onto the title?

[2020-05-11 07:19] JessiJess opened #54 "Static page redesign - Passages"
Hi @fritzelemino , please find below a draft of how I would like the static page about 'Passages' be redesigned:

![Passage redesign](https://user-images.githubusercontent.com/59960460/81534114-d1b14300-93aa-11ea-85aa-4821db7d7f28.jpg)

For the picture on the title, you can use the best of the 2 choices below:
![Eve-Sydney-Noumea_RaceStart](https://user-images.githubusercontent.com/59960460/815342

[2020-05-13 21:10] webilhan commented on #52
@JessiJess Deployed on Prod.

[2020-05-13 21:22] webilhan commented on #53
@JessiJess I've deployed new favicon on test server. Please clear browser cache and check on https://smooth-falcon.cloudvent.net/

[2020-05-13 21:24] webilhan commented on #49
@JessiJess Could you explain where which font I should use or provide PSD with right fonts.

[2020-05-13 21:25] webilhan commented on #51
@fritzelemino Could you share the source of design with me?

[2020-05-13 21:33] webilhan commented on #45
@JessiJess  Removed unnecessary content and spaces. Please check on live site.
When you will have updated design just let me know.

[2020-05-14 03:38] fritzelemino commented on #51
Please check PSDs here: https://www.dropbox.com/sh/nemv5v92ztguth1/AADMJy8QnUW1aubLJxVL7HSea?dl=0

[2020-05-14 04:09] JessiJess commented on #53
Hi @webilhan , all good thanks.

[2020-05-14 04:11] #52 closed

[2020-05-14 04:17] JessiJess commented on #51
Hi @webilhan , just a comment about the PSDs shared, please ensure the the title 'about the Yacht' is aligned left to be at the same margin size as 'Our history' . Thanks

[2020-05-14 04:27] JessiJess commented on #49
Hi @webilhan , sorry, is the document attached here not sufficient enough to find the correct fonts?
[TITLES.FONT-20200423T031458Z-001.zip](https://github.com/gs-gs/swanningaround/files/4626036/TITLES.FONT-20200423T031458Z-001.zip)

You have 3 different:
- Proto Grotesk ExtraLight
- Proto Grotesk Light
- Proto Grotesk regular

I would like to have those 3 fonts setup and have the capacity as an ad

[2020-05-14 04:32] #45 closed

[2020-05-14 06:18] webilhan commented on #53
@JessiJess Deploy on Live site.

[2020-05-21 02:24] JessiJess commented on #54
@fritzelemino , do you have an update on this issue?

[2020-05-21 02:25] #53 closed

[2020-05-21 02:26] JessiJess commented on #51
Hi @webilhan , do you have an update on this issue?

[2020-05-21 02:28] JessiJess commented on #49
Hi @webilhan , just checking if you have an update on this issue?

[2020-05-21 02:29] JessiJess commented on #47
Hi @webilhan , any updates?

[2020-05-21 02:30] JessiJess commented on #44
Hi @fritzelemino , can I have an update on this issue?

[2020-05-21 03:55] fritzelemino commented on #44
Hi @JessiJess ,

For some reason, I didn't get notifications with these new comments, please check this: https://www.dropbox.com/s/suig5u14w04hcp6/the-programs-cruising-experience.jpg?dl=0

[2020-05-21 03:56] fritzelemino commented on #54
Hi @JessiJess ,

I'm working on this already

[2020-05-22 02:45] JessiJess commented on #44
Hi @fritzelemino , perfect!

@webilhan , please see below the source doc to deploy:
https://www.dropbox.com/sh/nemv5v92ztguth1/AADMJy8QnUW1aubLJxVL7HSea?dl=0&preview=the-programs-cruising-experience.psd

[2020-05-24 19:22] webilhan commented on #44
Hi @JessiJess Please kindly check [dev ](https://smooth-falcon.cloudvent.net/cruising.html) site with the new version.

[2020-05-24 19:22] webilhan commented on #51
Hi @JessiJess Please kindly check [dev](https://smooth-falcon.cloudvent.net/about-the-yacht.html) site with the new version.

[2020-05-24 19:27] webilhan commented on #49
@JessiJess In attached zip I only see font source files, but I need to know where which font I should use. It is not possible to make option in the admin for choosing fonts, it could be done only for the part fo content that you can edit.
Would be good to have some screenshot with notations where do you want to change the font.

[2020-05-24 19:28] webilhan commented on #47
@JessiJess  Working on it.
@fritzelemino Could you share with me PSD files?

[2020-05-25 04:53] JessiJess commented on #44
Thanks @webilhan , few comments:
- Can the title be aligned left with the same margin as the text below?
- You are missing the 'i' for Cruising package title but I guess I can update that from admin view

Finally, would I be able as admin to add another subsection similar to 'cruising package'. I was thinking about adding something like 'what to expect' just before cruising package section.

[2020-05-25 05:08] JessiJess commented on #51
Great, just few comments:
- Can we aligned 'about the yacht' left same as 'Our history'
Can you please ensure that I will be able to add several pictures in each sub section (interior and exterior) with automatic scrolling?
Also, I will not add the picture in the section our history but I am sure I will be able to delete this as admin.

[2020-06-05 04:46] JessiJess commented on #51
Hi @webilhan , do you have an update?

[2020-06-05 04:48] JessiJess commented on #54
@fritzelemino , just checking if you have any update on the advancement of this page?

[2020-06-05 04:50] JessiJess commented on #47
@fritzelemino can you please share the PSD files with Ilya?

[2020-06-05 04:50] JessiJess commented on #46
@webilhan  , do you have an update on the above?

[2020-06-05 04:52] JessiJess commented on #44
@webilhan , do you have an update on the above?

[2020-06-11 02:37] fritzelemino commented on #54
Hi @JessiJess ,

Please check: https://www.dropbox.com/s/wbyv5zs5yfw0ags/the-passages.jpg?dl=0

[2020-06-11 03:43] JessiJess commented on #54
Hi @fritzelemino , perfect.

Please kindly share the PSD file to @webilhan so he can deploy it.

[2020-07-03 14:28] webilhan commented on #51
What do you mean by automatic scrolling? Would be good to have these pictures.
Where do you want to place pictures? Would be easier to place before or after text, not in the middle

[2020-07-03 20:11] webilhan commented on #44
@JessiJess Updated as per the last comment, see on [dev](https://smooth-falcon.cloudvent.net/cruising.html) site. You can easily add/remove subsections in admin. Left sidebar, "Sections" block

[2020-07-05 02:25] JessiJess commented on #44
@webilhan thanks. Looks good. Do the pictures on the second section automatically switched right/left or there will be some kind of arrows for the users to change from one pic to another?

[2020-07-05 02:43] JessiJess commented on #51
@webilhan I meant by that, in the section interior and exterior, make the pictures scroll left (i.e. from right to left), after the text. Similar to this example https://www.clipperroundtheworld.com/race/fleet, when you go to the 15 pictures at the end, you will see that the pictures automatically switched and users have also the option by clicking on the arrow to make the switch.
Does that make s

[2020-07-05 04:09] JessiJess opened #55 "Static Page redesign - Ocean Races & Regattas"
Hi @fritzelemino , please find below a draft of how I would like the static page about 'Races & Regattas' be redesigned:

![80262629_710590639741452_7466215324719534238_n](https://user-images.githubusercontent.com/59960460/86524870-47292380-bec3-11ea-919e-2392e258e428.jpg)

For the first section, the picture on the title, you can use the below picture:
![1708210156 Race Week Day 2_5158x3439_194149

[2020-07-05 12:54] fritzelemino commented on #55
Hi @JessiJess ,

Please check:
https://www.dropbox.com/s/wj5cosp5433iwxe/Regattas-and-Ocean-Races.jpg?dl=0

Thank you

Regards,

[2020-07-05 20:41] webilhan commented on #54
@JessiJess Applied new version of design for Passages page. Please kindly check on [dev](https://smooth-falcon.cloudvent.net/ocean-passages.html) site. See also gallery images, you can manage it from admin. See [screen](https://prnt.sc/tccqpz) for the section "More about the yacht" and for [subsections](https://prnt.sc/tccr3x)

[2020-07-05 20:43] webilhan commented on #51
@JessiJess Added Gallery section for each subsections, you can see example how manage image in #54.

[2020-07-05 20:45] webilhan commented on #44
@JessiJess Added Gallery section for each second section, you can see example how manage image in #54.

[2020-07-06 00:11] JessiJess commented on #55
Hi @fritzelemino , looks good. The last title is 'Racing package' but I will be able to update that.
Can you please share the PSD file for iLya?

@webilhan , please check out the new design to implement to website.
Would you be able also to add the below video without sound to the section 'The regatta' below the text? https://rosielord.wetransfer.com/downloads/31b012b7d6d8776a7b2a50f687fc712520200

[2020-07-06 00:37] JessiJess commented on #54
Hi @webilhan looks really good thanks!

Just couple of comments:
1) Can you confirm that the title font are the same that we have in our drop down list menu on the website?

2) Can you just change the colour on the 'More about the yacht' when you click on it from black to the same dark blue that we have in our drop down list menu on the website?

3) I am not too sure if I will add any pictures on

[2020-07-06 00:40] JessiJess commented on #51
All good then, can you show me the update dev site with the new version? Please also ensure that the titles are the same font that we have on our menu in the website. Thanks

[2020-07-06 00:42] JessiJess commented on #47
@fritzelemino , please share the PSD file to @webilhan . Thanks

[2020-07-06 00:53] JessiJess commented on #44
@webilhan , perfect then you can deploy. Just ensure that the titles have the same font that website menu and instead of black for the colour of the titles in section please change to dark blue, same comment for 'more about the yacht'.

![image](https://user-images.githubusercontent.com/59960460/86546081-3be30000-bf76-11ea-93bb-f76deb383103.png)

[2020-07-06 01:51] JessiJess opened #56 "Static page redesign - Watersport Charters"
Hi @fritzelemino, please find below a draft of how I would like the static page about 'Watersport Charters' be redesigned. It will be slightly different that the other pages as this one is a subsection of the cruising page.

![image](https://user-images.githubusercontent.com/59960460/86547339-08a36f80-bf7c-11ea-8063-9213ef768c0f.png)

With regards to the pictures, here is few that you can use, I g

[2020-07-08 20:07] webilhan commented on #54
1. Yes it is the same Here is menu font - https://prnt.sc/teb9t8 and here is title font - https://prnt.sc/teba9c
2. Changed color to #021221 like background in dropdown menu
3. Yes, if there are no images, nothing will be shown. I've remove images from that section.

Please check on [dev site](https://smooth-falcon.cloudvent.net/ocean-passages.html) and confirm that we can deploy new version?

[2020-07-08 20:08] webilhan commented on #51
All the titles have the same font.
Please check on [dev site](https://smooth-falcon.cloudvent.net/about-the-yacht.html) and confirm that we can deploy new version?

[2020-07-08 20:10] webilhan commented on #44
Color changed, font for title is the same.

Please check on [dev site](https://smooth-falcon.cloudvent.net/cruising.html) and confirm that we can deploy new versions for (#44, #51 and #54), becasue they should be deployed together?

[2020-07-09 03:03] JessiJess commented on #54
Yes please deploy. Have you started working already on #55 as it will be nice to have this deployed with the others. Please note that I have started marketing and therefore I am expecting potential clients visiting our website so it will be appreciated if those issues can be closed as soon as possible so I can make my updates online too. Thanks

[2020-07-09 03:05] JessiJess commented on #51
Yes, please deploy

[2020-07-09 03:05] #51 closed

[2020-07-09 06:24] fritzelemino commented on #55
Please check PSD here: https://www.dropbox.com/s/jhb8uph0tylkt4i/Regattas%20and%20Ocean%20Races.psd?dl=0

[2020-07-09 07:34] fritzelemino commented on #56
Hi @JessiJess , please check this one:

I can't red the image enough to identify the text on the package section.

https://www.dropbox.com/s/35wuqu05a6udryt/Watersport-Charters.jpg?dl=0

[2020-07-09 08:52] JessiJess commented on #56
Hi @fritzelemino , thank you for your prompt response. I am not sure what text you cannot read. Anyway, I am happy with your proposition, just you can remove the 'more about the yacht' in the second section, it will only appear in the section: 'What to expect'. Can you update and share with @webilhan the PSD file?

[2020-07-10 14:04] webilhan commented on #55
Hi @JessiJess
I've applied new design and deployed on [dev](https://smooth-falcon.cloudvent.net/ocean-races.html) site. Please check and let me know if everything is ok?

[2020-07-11 05:32] JessiJess commented on #55
Hi @webilhan , perfect, you can deploy thanks.

[2020-07-12 15:37] fritzelemino commented on #56
Please check PSD here:

@webilhan https://www.dropbox.com/s/kiio0u0vr5wust1/Watersport%20Charters.psd?dl=0

[2020-07-12 22:53] JessiJess commented on #55
Hi @webilhan any update?

[2020-07-12 22:53] #54 closed

[2020-07-12 22:54] #44 closed

[2020-07-12 22:54] #49 closed

[2020-07-12 22:58] JessiJess commented on #56
Hi @webilhan here we go. Please just ensure that the last part is linked with the cruising charter and not the regattas. Thanks to you both.

[2020-07-12 23:00] JessiJess commented on #46
@webilhan just letting you know that we will not be using TripAdvisor at all but instead build a strong clientele engagement in Facebook so all our reviews will come from there. Thanks.

[2020-07-13 11:12] webilhan commented on #55
@JessiJess Deployed to live site. Please check.

[2020-07-13 18:49] webilhan commented on #56
@JessiJess Done, deployed on [live site](https://swanningaround.com/watersport-charters.html). Please check

[2020-07-14 02:39] #55 closed

[2020-07-14 04:42] JessiJess commented on #56
@webilhan , the design is a bit different that PSD file. Can you update is to ensure it is similar to the PS (button 'more about the yacht' is missing on the section 'what to expect' and the section 'what to expect' to be open and not expendable). Thanks

[2020-07-14 06:36] JessiJess opened #57 "Explore page - User Friendly"
Hi @webilhan , we have discussed with Steve yesterday about our explore page with the map and we found it both quite hard to navigate from. Below is a suggestion of how we think it will make the page more users friendly:

![Swanning_Around_Tab views](https://user-images.githubusercontent.com/59960460/87392363-bd2e3880-c5ef-11ea-884c-54fbf3e14bcf.png)

Thank you.

[2020-07-15 18:41] webilhan commented on #57
@JessiJess Should it be just transparent text without borders?

[2020-07-15 18:41] webilhan commented on #56
@JessiJess Updated. Deployed to [live site.](https://swanningaround.com/watersport-charters.html)

[2020-07-15 18:47] webilhan commented on #57
One more question should it be only for map view?

[2020-07-16 00:04] #56 closed

[2020-07-16 00:16] JessiJess commented on #57
@webilhan , maybe we can have some sort of the same design that we already have as below when the colour changed when the mouse is on the button.

<img width="677" alt="Untitled" src="https://user-images.githubusercontent.com/59960460/87612089-f7611c80-c74c-11ea-9c16-d9f824be7386.png">

I think it should also be on the calendar view so user can go back to map view if they want. It is just that the

[2020-07-23 02:59] JessiJess commented on #57
Hi @fritzelemino , can you please have a look to this issue and propose a design for it that is consistent with our current website?
Ilya advised me that the above suggestion did not look good. Thank you for your proposition.

[2020-07-27 06:43] fritzelemino commented on #57
Hi @JessiJess,

I recommend this style and when user hovers the menu we can show a tool tip of the description:
https://www.dropbox.com/sh/vu9os7o4idt6eqt/AADJVUOvM_Aeb3Km1BTwX9hwa?dl=0

Let me know your thoughts.

[2020-07-28 04:26] JessiJess commented on #57
Hi @fritzelemino , thank you! I like the idea of the tab however not a big fan of the design, would you just make the tab fits the width screen and having the color of the tab the same dark blue of our menu?

[2020-07-29 02:32] fritzelemino commented on #57
Hi @JessiJess

Please check these: https://www.dropbox.com/sh/vu9os7o4idt6eqt/AADJVUOvM_Aeb3Km1BTwX9hwa?dl=0

Let me know your thoughts

[2020-07-29 05:12] JessiJess commented on #57
Hi @fritzelemino , sorry I am not a big fan of the design, the writing is not proportional to the tab it makes it weird. Do you have any other suggestions?

[2020-07-30 07:15] fritzelemino commented on #57
HI @JessiJess ,

Please check if this  works so I can implement on other screen:
https://www.dropbox.com/s/7d33vxh4od80qn2/SA-Discovery-Page-Updated.jpg?dl=0

[2020-07-30 23:05] JessiJess commented on #57
Hi @fritzelemino , way better. I like it like that. Please implement to other screen and provide PSD file to Ilya.
Thank you!

[2020-08-02 06:14] fritzelemino commented on #57
@webilhan @JessiJess ,

Please check JPGs and PSDs here:
https://www.dropbox.com/sh/vu9os7o4idt6eqt/AADJVUOvM_Aeb3Km1BTwX9hwa?dl=0

Thank you

[2020-08-02 22:55] JessiJess opened #58 "Events Cancellation"
Hi @webilhan , I would like to show that some regattas have been canceled however I do not want to remove them from user visibility. Do you need Fritz to have a look at it first?

I was thinking about something similar to this:

![image](https://user-images.githubusercontent.com/59960460/89133719-89e12880-d561-11ea-9c0e-4abd7cfe95b3.png)

![OIP](https://user-images.githubusercontent.com/59960460/8

[2020-08-03 10:41] webilhan commented on #46
@JessiJess @onthebreeze
I've deployed reviews functionality on DEV site, See for example [Cruising page](https://smooth-falcon.cloudvent.net/cruising.html).
You can edit reviews at admin _Expore->Data->Reviews_ (https://prnt.sc/tt4vuo).
Depending on the "Review Type" field review will be shown on the related page.

Let me know if you need something to change.

[2020-08-04 16:08] webilhan commented on #58
For each experience added new attribute [is cancelled](http://prntscr.com/tty75k). If it is set true label **CANCELLED** shows on 3 pages:
- Experience description static page, like [REGATTAS & OCEAN RACES](https://smooth-falcon.cloudvent.net/ocean-races.html)
- Explore page when experience selected, see [screenshot](http://prntscr.com/tty8oz)
- And experience detail page, for example [Hamilton Is

[2020-08-04 16:10] webilhan commented on #46
@JessiJess Deployed on live site, so now you can manage it from admin.

[2020-08-04 22:46] #46 closed

[2020-08-04 22:52] JessiJess commented on #58
@webilhan , perfect, please deploy to live. Thanks

[2020-08-05 06:31] webilhan commented on #58
@JessiJess Deployed on Live site.

[2020-08-05 07:40] #58 closed

[2020-08-05 13:23] webilhan commented on #57
@JessiJess Implemented design from the last PSD. Please check on [DEV](https://smooth-falcon.cloudvent.net/explore) site.
Let me know if it can be deployed on Live site.

[2020-08-06 00:45] JessiJess commented on #57
@webilhan very nice, please deploy.

[2020-08-06 07:24] webilhan commented on #57
@JessiJess Deployed on Live site.

[2020-08-20 23:11] #57 closed

[2020-08-20 23:18] JessiJess opened #59 "Metadata - Meta Description & title fields to be created"
Hi @webilhan , I have discussed with my friend, and apparently the Keywords field is no longer used by Google for SEO. However, I will need to add metadata for each passage, race and cruise that we will be doing in order to be visible in google. We do only have those fields (title and description) for our standalone pages. Can you please add those fields on the other pages?

Cheers

[2020-08-24 00:25] JessiJess opened #60 "Site Audit: Issues"
Hi @webilhan , please see attached the full site audit report with all the issues reported. Please kindly fix them and let me know when this is done so I can run another report via SEMrush. Of course if there is anything that can be done at the admin level, leave it to me.
[SEMrush-Site_Audit__Issues-swanningaround_com-23rd_Aug_2020.pdf](https://github.com/gs-gs/swanningaround/files/5115234/SEMrus

[2020-08-28 01:34] JessiJess opened #61 "Landing title page"
Hi @webilhan , can you please change the title on the landing page from 'Global ...' to 'World ..."?

[2020-08-30 09:31] webilhan commented on #59
@JessiJess Added SEO section with title, description and keyword fields for all experience types. If it is filled we will show it, if no show title and description from experience itself. See [screenshot 1](https://prnt.sc/u8ct48) and [screenshot 2](https://prnt.sc/u8cu6a)
Deployed on Live site.

[2020-08-30 09:37] webilhan commented on #61
@JessiJess Title changed. Also made it editable from admin, so you can easily manage it in the future.
Deployed on Live.

[2020-08-30 23:16] #61 closed

[2020-08-30 23:20] #59 closed

[2021-01-05 05:19] JessiJess commented on #47
Hi @webilhan  and @fritzelemino , happy new year! Hope you had both nice festive season.
Can I check with you when this is at? I would like to add some pictures.
Thanks

[2021-01-05 05:46] JessiJess opened #62 "Instagram Feed to be added to website"
Hi Fritz,

I would like to integrate new feed onto the website connected to our Instagram. Do you have some design idea to propose?
Not sure if I add an additional tab or if we integrate that somehow in our first or home page. The slider example on this website is kind of nice, https://elfsight.com/instagram-feed-instashow/examples/

Anyway I am open to any suggestion. It is really to keep our web

[2021-01-05 05:49] JessiJess opened #63 "Map error"
Hi Ilya,

I am not sure if this is because of my connection or if there is any issue with the website but could you check if there is any Map Loading Errors? I have received this error: https://developers.google.com/maps/documentation/javascript/error-messages?utm_source=maps_js&utm_medium=degraded&utm_campaign=billing#api-key-and-billing-errors

Many thanks,
Jess

[2021-01-06 02:13] fritzelemino commented on #47
Hi @webilhan @JessiJess

Please check PSD here: https://www.dropbox.com/sh/n98zf2u4fy13836/AAAl_JfpjEQENhmWDpr-Hm2Wa?dl=0

[2021-01-06 03:35] fritzelemino commented on #47
@webilhan @JessiJess , I also noticed that the map has a **"For Development purposes only"** watermarks. I think we need to get a license key from Google map to remove this.

[2021-01-06 06:04] fritzelemino commented on #62
Hi @JessiJess ,

Please check these options: https://invis.io/QEZUIH9JWZC

You can directly comment your feedback on the screens through invision app.

Thank you

Regards,

[2021-01-06 07:38] webilhan commented on #63
@JessiJess @onthebreeze It is because google requires to enable billing account for google maps. See [docs](https://developers.google.com/maps/gmp-get-started). We need to enable it and update Google maps key with new one. It can be updated at [settings](https://app.cloudcannon.com/17137/editor#/site/35794/explore/_data:/explore/_data/settings.yaml)

[2021-01-07 00:07] JessiJess commented on #62
Hi @fritzelemino , thank you, I have made a comment. Please let me know if it make sense.

Thank you

[2021-01-07 05:08] fritzelemino commented on #62
Hi @JessiJess , please check updated version here: https://invis.io/JCYTNI2BVUK#/441652501_Swanning_Around_-_Option_2

[2021-01-07 06:32] JessiJess commented on #62
Hi @fritzelemino , have added an additional comment. Thanks

[2021-01-07 11:09] fritzelemino commented on #62
Hi @JessiJess, I updated Invision app, please check: https://invis.io/JCYTNI2BVUK#/441652501_Swanning_Around_-_Option_2

[2021-01-07 23:36] JessiJess commented on #62
Hi @fritzelemino , I do not see any update?

[2021-01-08 00:48] fritzelemino commented on #62
Hi @JessiJess ,

The design now has 6 images, before it ha only 5. There are two arrows now, before it was only 1.

Unless I misunderstood your instruction? Do you want 2 rows of images? And smaller sizes?

Let me know.

Thank you

[2021-01-08 01:10] JessiJess commented on #62
Hi @fritzelemino , sorry for not being clearer. Can you make the following updates:-
- The pictures are still visible however I would rather them to be visible only if the users scrolled down.
- Yes two rows. Please see example below:

![image](https://user-images.githubusercontent.com/59960460/103962029-fcf26900-51a9-11eb-9d21-4730463a78dc.png)

Thank you

[2021-01-08 05:46] fritzelemino commented on #62
Hi @JessiJess ,

Please check: https://invis.io/JCYTNI2BVUK#/441652501_Swanning_Around_-_Option_2

Setting the height of the banner to cover the whole screen should be easy for the Dev. I added an arrow at the bottom of the banner to signal users that there's more below.

Let me know your thoughts.

[2021-01-08 10:22] webilhan commented on #47
@fritzelemino Yes, thanks for info. We already have [an issue](https://github.com/gs-gs/swanningaround/issues/63) for that.

[2021-01-09 01:26] JessiJess commented on #62
Hi @fritzelemino , I have added a final comment but I actually this can be done by the dev per your comment. If this is the case, please share the PSD here to @webilhan .
Cheers

[2021-01-09 01:26] #60 closed

[2021-01-09 01:34] JessiJess commented on #63
Hi @webilhan , thanks for looking into this issue. Is is something that we do or that you do?

[2021-01-09 02:45] onthebreeze commented on #63
I checked the google console and, even though there is a current and active payment method (swanningaround card), the billing account was closed.  I think i've reopened it and all is ok.  the API key was unchanged.  maps seems to work on the swanningaround.com website.

@JessiJess could you check that things are working as you expect and close this ticket if ok

[2021-01-09 04:32] fritzelemino commented on #62
Hi @JessiJess @webilhan ,

Please check PSD here: https://www.dropbox.com/s/szit6gumtl1pv41/swanning-around.psd?dl=0

[2021-01-10 00:21] #63 closed

[2021-01-17 21:52] JessiJess commented on #62
Hi @webilhan ,

Can you please incorporate to the website the second design of the PSD above?

While incorporating this to the website, please look at the comment here https://invis.io/JCYTNI2BVUK#/441652501_Swanning_Around_-_Option_2

Many thanks

[2021-01-29 00:41] benjaminroulant opened #64 "change the color of the background on home page"
fff

[2021-01-31 13:41] webilhan commented on #47
@JessiJess Finished with the gallery, you can check how it looks there - https://smooth-falcon.cloudvent.net/gallery/
Maybe we should add some back button from inner gallery page?

[2021-01-31 13:46] webilhan commented on #64
@benjaminroulant Homepage has a white background and small overlay, that's why it looks different.
I think removing the overlay and make the background fully white will looks not very nice in some cases, because menu icon and icons in the right top corner could be not really visible. See example https://prnt.sc/xx64bh
@JessiJess ^^

[2021-01-31 20:16] JessiJess commented on #64
Hi Ilya, sorry it was just a test to show Ben how an issue is generated. I will close it now.

[2021-01-31 20:16] #64 closed

[2021-01-31 20:19] JessiJess commented on #47
@webilhan , does look good and yes I agree we should be able to go back to the gallery page when we are inside a specific sub gallery.